/* Character sheet header */

.sheet-header {
    width: 1200px;
    height: 280px;
    outline: 3px black solid;
    margin: 10px;
}

.character-sheet-portrait {
    height: 250px;
    margin: 10px
}

.character-sheet-header-group {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 600px;
    height: 250px;
    margin: 10px;
    outline: 2px black solid;
}

.character-sheet-header-details {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.character-sheet-header-level-details {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 0;
    right: 0;
}

.character-sheet-header-ability-scores {
    position: absolute;
    bottom: 0px;
}

.as-box {
    display: inline-block;
    height: 110px;
    width: 80px;
    margin: 10px;
    outline: 1px black solid;
}

.character-sheet-header-stack {
    display: inline-block;
    vertical-align: top;
    height: 250px;
    margin: 10px;
}

.vertical-box {
    vertical-align: top;
    height: 31.5%;
    width: 100px;
    outline: 2px black solid;
    margin: 5px;
}

.character-sheet-header-hp {
    display: inline-block;
    vertical-align: top;
}

/* Saving Throws */

.saving-throw-box {
    outline: 3px black solid;
    width: 300px;
    height: 70px;
    margin: 10px;
}

.st-text {
    text-align: center;
}

.st-box {
    display: inline-block;
    width: 100px;
}

/* Skills */

.skill-box {
    outline: 3px black solid;
    width: 300px;
    height: 490px;
    margin: 10px;
}

.skill-text {
    text-align: center;
}

.skill {
    border-bottom: 1px solid black;
    height: 26px;
}

.skill-name, .skill-as, .skill-mod {
    display: inline-block;
    margin: 0 0;
}

.skill-name {
    width: 50%;
}

.skill-as {
    width: 10%;
}

.skill-mod {
    text-align: right;
    width: 40%;
}
