/* Character sheet header */

* {
    font-family: Roboto;
    font-size: 11.3pt;
}
.sheet-header {
    width: 1200px;
    height: 280px;
    outline: 3px black solid;
    margin: 10px;
}

.character-sheet-portrait {
    height: 250px;
    margin: 10px
}

.character-sheet-header-group {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 600px;
    height: 250px;
    margin: 10px;
    outline: 2px black solid;
}

.character-sheet-header-details {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.character-sheet-header-level-details {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 0;
    right: 0;
}

.character-sheet-header-ability-scores {
    position: absolute;
    bottom: 0px;
}

.as-box {
    display: inline-block;
    height: 110px;
    width: 80px;
    margin: 10px;
    outline: 1px black solid;
}

.character-sheet-header-stack {
    display: inline-block;
    vertical-align: top;
    height: 250px;
    margin: 10px;
}

.vertical-box {
    vertical-align: top;
    height: 31.5%;
    width: 100px;
    outline: 2px black solid;
    margin: 5px;
}

.character-sheet-header-hp {
    outline: 2px solid black;
    vertical-align: top;
    margin-top: 70px;
    padding: 10px;
    display: inline-block;
}

.hp-input {
    width: 150px;
}

.hp-add {
    height: 30px;
    width: 30px;
    background-color: green;
    margin-bottom: 5px;
}
.hp-sub {
    height: 30px;
    width: 30px;
    background-color: red;
    margin-top: 5px;
}

/* Saving Throws */

.saving-throw-box {
    outline: 3px black solid;
    width: 300px;
    height: 70px;
    margin: 10px;
}

.st-row {
    height: 25px;
    width: 100%;
}

.st-text {
    text-align: center;
}

.st-box {
    display: inline-block;
    width: 27%;
}

.st-proficiency-label-0 {
    margin-left: 3px;
    margin-right: 5px;
    border-radius: 50%;
    display: inline-block;
    width: 10px;
    height: 10px;
    outline: 1px black solid;
}

.st-proficiency-label-1 {
    margin-left: 3px;
    margin-right: 5px;
    border-radius: 50%;
    display: inline-block;
    width: 10px;
    height: 10px;
    outline: 1px black solid;
    background-color: black;
}

/* Skills */

.skill-box {
    outline: 3px black solid;
    width: 300px;
    height: 490px;
    margin: 10px;
}

.skill-text {
    text-align: center;
}

.skill {
    border-bottom: 1px solid black;
    height: 26px;
}

.skill-name, .skill-as, .skill-mod {
    display: inline-block;
    margin: 0 0;
}

.skill-name {
    width: 40%;
}

.skill-as {
    width: 10%;
}

.skill-mod {
    text-align: right;
    width: 40%;
}

.proficiency-label-0 {
    margin-left: 3px;
    margin-right: 5px;
    border-radius: 50%;
    display: inline-block;
    width: 10px;
    height: 10px;
    outline: 1px black solid;
}

.proficiency-label-1 {
    margin-left: 3px;
    margin-right: 5px;
    border-radius: 50%;
    display: inline-block;
    width: 10px;
    height: 10px;
    outline: 1px black solid;
    background: linear-gradient(-45deg, rgb(0, 0, 0) 50%, transparent 50%);
}

.proficiency-label-2 {
    margin-left: 3px;
    margin-right: 5px;
    border-radius: 50%;
    display: inline-block;
    width: 10px;
    height: 10px;
    outline: 1px black solid;
    background-color: black;
}

.proficiency-label-3 {
    margin-left: 3px;
    margin-right: 5px;
    border-radius: 50%;
    display: inline-block;
    width: 10px;
    height: 10px;
    outline: 1px black solid;
    outline-offset: 2px;
}

.proficiency-button {
    border-radius: 50%;
    width: 10px;
    height: 15px;
}

/* Panel */

.sheet-panel {
    outline: 3px black solid;
    position: absolute;
    top: 306px;
    left: 335px;
    width: 883px;
    height: 576px;
}